{
    acme_dns cloudflare {env.CF_API_TOKEN}
}

# containerised services go here
# example:
# files.abhijithb.org {
#     reverse_proxy filebrowser:80
# }

sync.abhijithb.org {
	reverse_proxy syncthing:8384
}

files.abhijithb.org {
	reverse_proxy filebrowser:8080
}

media.abhijithb.org {
	reverse_proxy jellyfin:8096
}
